/* ---------------BODY---------------- */
body { margin: 0px; padding: 0px; background-color: #e6e6e6; font-family: Arial; }
 *fonts.css*/body {
font:10px Verdana;
colour:222222;
*font-size:small;
*font:x-small;}
body * { line-height:1.22em; }
body { background:#e6e6e6; color:#333; }
body * { line-height:1.7em }
.content-div { font-family:Verdana; font-size:80%; width: 950px!important; padding-left:15px; color:#333!important; }
.ShadowBottom {background:#fff url(bodyShadow.png) bottom repeat-x; hight:25px; width: 950px!important;  padding:20px;}
/* ---------------BASIC---------------- */
.vcard { color:#333; font-style:normal; font-size: 65%!important; padding-left:20px; }
h1, h2, h3, h4, blockquote, dt { font-family:Arial; color:#176; margin-bottom: 0.3em; }
div { padding:0; margin:0 }
#content h1 { font-size:175%; line-height:1.15em; margin-bottom:0.6em }
#content h2 { line-height:1.15em; margin-bottom: 0.6em; }
h2, blockquote, dt { font-size:140% }
h3 { font-size:115%; margin-bottom:0.3em }
h4 { font-size:110% }
p, ul, address, ol { margin-bottom:1.3em }
ul { list-style-type:none }
#content ul li ul { padding-top:0.50em }
#content li { margin: 0.25em 0 0.8em 0; background:url(liBulletPoint.png) no-repeat 3px 8px; padding-left:1.4em }
#content ol li { background: none; padding-left: 0 }
a { text-decoration:none; color:#f40; line-height:1.22em }
a:visited { color:#f70 }
a:hover { color:#176 }
a:active { color:#f80 }
hr { border: 0; height:1px; background:#ccc; margin-bottom:20px }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% Verdana; }
pre, code { font:115% monospace; *font-size:100%;
}
.system_pagebody { line-height: 1.7em; margin: 0px; padding: 0px; background-color: #e6e6e6; font-family: Arial; }
span { font-size:inherit; }
table { font-family: Verdana; }



.button {background-color: #ff4400; padding:3px; border: 1px #CCCCCC solid; color:#FFFFFF; padding: 3px 15px 3px 15px;}
/* Other Table styles */

.palebluetablecells td { background: #dfefff }
.h1, h1 { font-size:1.5em!important; font-weight:normal!important; line-height: 1em; margin:0px; padding: 5px 0px 0px 0px; font-family:Arial!important; }
.h2, h2 { color:#cb3301; font-size:1.2em; font-weight:bold; margin:0px; }
.h3, h3 { color:#cb3301; font-size:1em; font-weight:bold; margin:0px; }
.solentRed { color:#CB3301; }
.solentGrey { color:#666666; margin: 0px 0px 4px 0px }
.BlockHighlight { background-color: #F1F1F3; padding:5px 10px 5px 10px; border-top:1px solid #999999; margin-top:1px; display:block; }
.SummaryText { font-weight:bold; font-size: 15px; }
.SummaryText H2 { display:inline; font-weight:normal; color:#9F9F9F; font-size: 15px; }
.system_Header { width:780px; background-color:white; padding-left:5px; }
.system_SearchButton { height:20px; font-size:11px; text-transform:uppercase; font-weight:bold; background-color:white; color:black; }
.system_Banner { width:780px; background-color:white; line-height:1px; padding:0px; height:0px; font-size:0px }
.system_Banner TD { line-height:1px; padding:0px; height:0px; font-size:0px }
.system_Banner TR { line-height:1px; padding:0px; height:0px; font-size:0px }
.system_Breadcrumbs { width:780px; background-color:#F1F1F3; padding: 5px 10px 5px 12px; border-top:1px solid #999999; margin-top:1px; }
.system_BreadcrumbsSeperator { font-weight: bold; color:black; text-decoration:none; }
.system_BreadcrumbItem { font-weight: bold; text-transform: capitalize; }
.system_BreadcrumbItem:link { color:#638AD7; text-decoration:none; }
.system_BreadcrumbItem:hover { color:black; text-decoration:underline; }
.system_BreadcrumbDeadItem { padding: 5px 10px 5px 12px; color:#638AD7; text-decoration:none; }
.system_Footer { width:780px; background-color:white; color:#9a9a9a; }
.system_BodyArea { width:780px; background-color:white; }
.system_ContentArea1 { padding:12px 35px 12px 4px; }/*last was 12px*/
.system_MenuArea1 { padding:12px 0px 12px 0px; }
/* 2 column subtemplate*/

/* Progressheader */
.system_SparkHeadingBlack { padding:10px 0 0 40px; background:url('progressheader.png') white no-repeat; font-size: 14px; font-weight:bold; color:white; font-family: arial, helvetica, sans-serif; height:32px; line-height:22px; }
/* Spark Menu Links - there are styles for 2 different menu colours */

.system_Menu { padding:8px 12px 8px 12px; font-family: arial, helvetica, sans-serif; }
/* This is Automatically applied to menu */
.system_MenuIndent { padding:4px 8px 4px 8px; }
/* Standard 1st level (black links) */
.system_MenuLev1Block {
arial, helvetica, sans-serif; padding: 2px; font-size:11px; }
.system_MenuLev1Error {
arial, helvetica, sans-serif; font-size: 13px; padding: 0px; color:#f40000 }
.system_MenuLev1Item { margin:4px 0 4px 0; }
.system_MenuLev1Item A { text-decoration:none; color:black }
.system_MenuLev1Item A:hover { text-decoration:underline; color:#CB3301; }
.system_MenuLev1Select { text-decoration:underline; color:#CB3301; font-weight:bold; }
/* Standard 2nd level (black links)*/
.system_MenuLev2Block { font-size: 13px; }
.system_MenuLev2Item { margin:4px 0 4px 0; }
.system_MenuLev2Item A { text-decoration:none; color:black }
.system_MenuLev2Item A:hover { text-decoration:underline; color:#CB3301; }
.system_MenuLev2Select { text-decoration:underline; color:#CB3301; font-weight:bold; }
/* Red links - 1st level */
.system_MenuLev1BlockRed { font-size: 13px; }
.system_MenuLev1ItemRed { margin:5px 0 5px 0; }
.system_MenuLev1ItemRed A { text-decoration:underline; color:#d81e05 }
.system_MenuLev1ItemRed A:hover { text-decoration:underline; color:black; }
.system_MenuLev1SelectRed { text-decoration:underline; color:#CB3301; font-weight:bold; }
/* Red links - 2nd level */
.system_MenuLev2BlockRed { font-size: 13px; }
.system_MenuLev2ItemRed { margin:4px 0 4px 0; }
.system_MenuLev2ItemRed A { text-decoration:none; color:#d81e05 }
.system_MenuLev2ItemRed A:hover { text-decoration:underline; color:black; }
.system_MenuLev2SelectRed { text-decoration:underline; color:#d81e05; font-weight:bold; }
/* Forms */

/* Reports */

.standard { font-size: 12px; }
.header { }
.data { }
.data2 { background-color:#f1f1f3; }
.pagination { font-size: 12px; }
