#eh_dashbar { color:#FFFFFF; background:#00214d; height:30px; padding:15px 30px 0; font-family:Arial !important; font-size:14px !important }
#eh_dashbar div { }
#eh_dashbar a { display:block; padding:0; margin:0; color: #FFFFFF; text-decoration: none; }
#eh_dashbar li:hover, #eh_dashbar li.over, #eh_dashbar a:hover { color: #F40; }
#eh_dashbar ul { list-style: none; float:left; margin:0; padding:0; position:relative; left:0; right: 0; width: 100%; margin-bottom:10px }
#eh_dashbar li { float:left; text-align:left; margin-left:19px; padding:0; list-style-type: none;  }
#eh_dashbar ul ul { display:none; position:absolute; background:#000000; width:100%; left:0; }
#eh_dashbar ul li.over ul, #eh_dashbar ul li:hover ul { display:block; list-style-type: none;  }
#eh_dashbar ul li.over ul li a { float: left; }
#eh_dashbar form { float: right; display: inline; padding-top: 2px; padding-bottom: 0px; margin: 0; color: #FFFFFF; }
#eh_dashbar form input { font-size: 11px; }
#eh_dashbar li.eh_dashbar_home { width:244px; height:16px; margin-left:0; padding:0 }
#eh_dashbar li.eh_dashbar_home a#home { float:left; display:inline; height:19px; width:220px; background:url(eh_dashbar_home.png) no-repeat; text-decoration:none }
#eh_dashbar li.eh_dashbar_home a#home:hover { background:url(eh_dashbar_home_x.png) no-repeat }
#eh_dashbar li.eh_dashbar_home span { display:none; }
#gw-header #apptitle, #gw-header #utils, #gw-header #time { display: none; }
/* This is to hide failed includes in Confluence */
.hidden-include .error { display:none; }
div.megamenu { display: none; position: absolute; top: 35px; background-color: #00214D; z-index: 999; width: 750px; margin-left: 25px; padding: 5px; filter:alpha(opacity=95); -moz-opacity:0.95; -khtml-opacity: 0.95; opacity: 0.95; }
div.megamenu ol { float: left; }
div.megamenu ol#mhNews { width: 210px; }
div.megamenu ol.mhAZ { width: 129px; border-left: 1px dotted #596E8B }
div.megamenu li a { display: block; color: white; font-size: 0.8em; font-family:Arial; padding: 5px 10px; }
div.megamenu li a:hover { background-color: #FF4400; }
div.megamenu ol li { display: inline; list-style-type: none;   }
div.narrow { width: 125px; }
body, html { margin:0; padding:0; }
