{box-sizing: border-box;}

body{
	display: grid;
	grid-template-areas:"filler hd      filler2"
						"filler banner  filler2"
						"filler content filler2"
						"filler ft      filler2";
	grid-template-columns: 1fr 2.5fr 1fr;
	grid-gap: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}

#filler{
	grid-area:filler;
	visibility: hidden;
}

#filler2{
	grid-area:filler2;
	visibility: hidden;
}

header{
	grid-area: hd;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-around;
	font-size: 30px;
}

nav{
	align-self: center;
    margin: 0 0.8em 0 0;;
}

nav ul li{
	display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 15px;
}

nav ul li a:hover{
	background-color: #779ecb;
	border-style: solid;
	padding-bottom:5px; 
	border-width:0px;
	border-bottom-width:10px;
	border-color: #009999; 
}

li ul{
	display: none;
}

li:hover ul{
	margin-top: 20px;
	display:block;
	position: absolute;
}

li:hover ul a{
	padding:20px;
	font-size:25px;
}

#banner{
	grid-area: banner;
	background-image: url("images/about_banner_v2.jpg");
	background-position: center;
	background-repeat:no-repeat;
}

h1{
	text-align: center;
	font-size: 35px;
	margin-top: 40%;
	background-color: #779ecb;
    color: #000;
    opacity: 0.9;
}



#content{
	grid-area:content;
	font-size: 20px;
}



footer{
	grid-area: ft;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

footer ul{
	list-style: none;
}

@media screen and (max-width: 1000px){
	body{
		display: grid;
		grid-template-areas:"hd"
							"banner"
							"sub_banner"
							"content"
							"ft";
		grid-template-columns: 1fr;
	}
}