{box-sizing: border-box;}

body{
	display: grid;
	grid-template-areas:"filler hd        filler2"
						"filler title     filler2"
						"filler gallery   filler2"
						"filler img       filler2"
						"filler ft        filler2"; 
	grid-template-columns: 1fr 2.5fr 1fr;
	grid-gap: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
}

#filler{
	grid-area:filler;
	visibility: hidden;
}

#filler2{
	grid-area:filler2;
	visibility: hidden;
}

header{
	grid-area: hd;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-around;
	font-size: 30px;
}

nav{
	align-self: center;
    margin: 0 0.8em 0 0;;
}

nav ul li{
	display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 15px;
}

nav ul li a:hover{
	background-color: #779ecb;
	border-style: solid;
	padding-bottom:5px; 
	border-width:0px;
	border-bottom-width:10px;
	border-color: #009999; 
}

li ul{
	display: none;
}

li:hover ul{
	margin-top: 20px;
	display:block;
	position: absolute;
}

li:hover ul a{
	padding:20px;
	font-size:25px;
}

a{
	color: #000;
	text-decoration: none;
}

h1{
	grid-area: title;
	text-align:center;
	margin-left: 10%;
}

#gallery{
	grid-area:gallery;
	display: flex;
	flex-direction: row;
}

#expandedimg{
	grid-area: img;
}

section img{
	margin:1%; 
}


footer{
	grid-area: ft;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}

footer ul{
	list-style: none;
}

@media (max-width:900px){
	body{
		display: grid;
		grid-template-areas:"hd"
							"title"
							"gallery"
							"ft";
		grid-template-columns: 1fr;
	}

	#filler1{
		display: none;
	}

	#filler2{
		display:none;
	}

	header{
		grid-area: hd;
		background-color: 
	}

	#expandedimg{
		display: none;
	}

	h1{
		grid-area: title;
		background-color: black;
	}

	#gallery{
		grid-area: gallery;
		display: flex;
		flex-direction: column;
	}
}