{box-sizing: border-box;}

body{
	display: grid;
	grid-template-areas:"filler hd           hd         filler2"
						"filler banner       banner     filler2"
						"filler sub_banner   sub_banner filler2"
						"filler whoWeAre     whoWeAre   filler2"
						"filler openingHours aside      filler2"
						"filler ft           ft         filler2"; 
	grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
	grid-gap: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
}

#filler{
	grid-area:filler;
}

#filler2{
	grid-area:filler2;
	visibility: hidden;
}

header{
	grid-area: hd;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-around;
	font-size: 30px;
}

nav{
	align-self: center;
    margin: 0 0.8em 0 0;;
}

nav ul li{
	display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 15px;
}

nav ul li a:hover{
	background-color: #779ecb;
	border-style: solid;
	padding-bottom:5px; 
	border-width:0px;
	border-bottom-width:10px;
	border-color: #009999; 
}

li ul{
	display: none;
}

li:hover ul{
	margin-top: 20px;
	display:block;
	position: absolute;
}

li:hover ul a{
	padding:20px;
	font-size:25px;
}

a{
	color: #000;
	text-decoration: none;
}

#banner{
	grid-area: banner;
	background-image:url('images/banner.jpeg');
	background-repeat:no-repeat;
	background-position: center;
	background-size:cover;
	padding-top: 15%;
	padding-bottom: 0%;
	text-align: center;
}

#sub-banner{
	grid-area: sub_banner;
	text-align: center;
	padding: 0px;
	background-color: #ff875e;
}

#sub-banner h2{
	font-size:20px;
}

h1{
  margin-top: 25%;
  font-size: 40px;
  background-color: #779ecb;
  color: #000;
  opacity: 0.9;
}

h2{
	text-align: center;
	font-size: 30px;
}

#whoWeAre{
	grid-area: whoWeAre;
}

#container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

#openingHours{
	grid-area: openingHours;
}

#openingHours section{
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 25px;
}


aside{
	grid-area: aside;
	background-image: url('images/aside2.jpeg');
	background-repeat:no-repeat;
	background-position: center;
	background-size:cover;
	text-align: center;
}

aside h2{
	background-color:#779ecb;
	opacity: 0.9;
	margin-top: 35%;
}

footer{
	grid-area: ft;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;

}

ul{
	list-style: none;
}


@media screen and (max-width: 1000px){
	body{
		display: grid;
		grid-template-areas:"hd"
							"banner"
							"sub_banner"
							"whoWeAre"
							"openingHours"
							"aside"
							"ft";
		grid-template-columns: 1fr;
	}
}