{box-sizing: border-box;}

body{
	display: grid;
	grid-template-areas:"filler hd     filler2"
						"filler title  filler2"
						"filler solo   filler2"
						"filler group  filler2"
						"filler vistit filler2"
						"filler ft     filler2"; 
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
}

#filler{
	grid-area:filler;
	visibility: hidden;
}

#filler2{
	grid-area:filler2;
	visibility: hidden;
}

header{
	grid-area: hd;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-around;
	font-size: 30px;
}

nav{
	align-self: center;
    margin: 0 0.8em 0 0;;
}

nav ul li{
	display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 15px;
}

nav ul li a:hover{
	background-color: #779ecb;
	border-style: solid;
	padding-bottom:5px; 
	border-width:0px;
	border-bottom-width:10px;
	border-color: #009999; 
}

li ul{
	display: none;
}

li:hover ul{
	margin-top: 20px;
	display:block;
	position: absolute;
}

li:hover ul a{
	padding:20px;
	font-size:25px;
}

h1{
	grid-area: title;
	text-align: center;
}

img{
	border-radius: 50%;
	padding-right: 20px;
}

#solo{
	grid-area: solo;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 10%;
}
#solo section{
	margin-left: 15px;
}
#solo h3{
	margin-left: 10px;
}

#group{
	grid-area: group;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 10%;
}

#group section{
	margin-left: 15px;
}

#group h3{
	margin-left: 10px;
}

#vistit{
	grid-area: vistit;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 10%;
}

#vistit section{
	margin-left: 15px;
}

#vistit h3{
	margin-left: 10px;
}



footer{
	grid-area: ft;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;

}

ul{
	list-style: none;
}

@media screen and (max-width: 1000px){
	body{
		display: grid;
		grid-template-areas:"hd"
						    "title"
							"solo"
							"group"
							"vistit"
							"ft"; 
		grid-template-columns: 1fr;
	}

	#solo{
		display: flex;
		flex-direction: column;
		align-items:center; 

	}

	#solo img{
		align-content: center;
	}

	#group{
		display: flex;
		flex-direction: column;
		align-items:center; 
	}

	#vistit{
		display: flex;
		flex-direction: column;
		align-items:center; 
	}
}