@font-face{
	font-family: "boxing";
	src:url("BOXING.ttf");
}

html{
	background-color:#fffdd0;
}

body{
	display: grid;
	grid-template-areas:"filler nav hd         hd         filler2"
						          "filler nav image      challenger filler2"
						"filler nav image      VS         filler2"
						"filler nav image      champion   filler2"
						"filler nav banner     banner     filler2"
						"filler nav skills     skills     filler2"
						"filler nav experiance experiance filler2"
						"filler nav education  education  filler2"
						"filler nav extra      extra      filler2"
						"filler nav ft         ft         filler2";
	grid-template-columns: 0.5fr 0.5fr 1fr 1fr 0.5fr;
	font-family: 'impact', sans-serif;

}

#filler{
	grid-area: filler;
	visibility: hidden;
}

#filler2{
	grid-area:filler2;
	visibility: hidden;
}

nav{
	grid-area: nav;
	display: flex;
	font-family: 'Righteous', cursive;
	flex-direction: column;
	position: sticky;
	top:0;
	text-align: center;
	color: #fff;
	height: 50%;
	font-size:40px;
	border-right-style: solid;
	border-color: #000;
	border-width: 5px;
	margin-right: 15px;
}

nav ul{
	list-style-type: none;
}

nav li{
	padding: 40px;
}

nav a{
	color: #000;
}

#banner{
	grid-area:banner;
	text-align: center;
	background-color: #101010;
	color: red;
	letter-spacing: 4px;
	font-family: 'Righteous', cursive;
	margin-top:10px;
}

header{
	grid-area: hd;
	text-align: center;
	font-size: 30px;
}

h1{
	font-size: 3em;
	font-weight: 600;
}

#image{
	grid-area: image;
	text-align: center;
	margin-right: 10px;
	padding:0px;
}

#image img{
	margin:0px;
	padding:0px;
}

#image h2{
	background-color: red;
	padding: 10px;
	margin-top: 0px;
}

#challenger{
	grid-area: challenger;
	text-align: center;
 	font-size: 30px;
 	background-color:red;
 	padding: 5px;
}

#challenger h3{
	color: #fffdd0;
}

#vs{
	font-size: 30px;
	grid-area: VS;
	text-align: center;
}

#champion{
	font-size: 30px;
	grid-area:champion;
	text-align: center;
	background-color:red;
	padding: 5px;
}

#champion h3{
	color:#fffdd0;
}

#skills{
	grid-area: skills;
	text-align: center;
	font-size: 25px;
	border-bottom-style:solid;
	border-width: 10px;
	border-color: red;
}

#skills div{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: left;
}

#skills ul{
	font-size: 22px;
	list-style-type: none;

}

#skills li{
	margin: 12px;
}

#experiance{
	grid-area: experiance;
}
 h2{
	font-size: 35px;
	text-align: center;
}

#experiance p{
	font-family: 'Righteous', cursive;
	font-size: 22px;
	padding: 1px;
	margin:1px;
	margin-left: 20px;
	margin-bottom: 25px;
}

#wickes{
	display: flex;
	flex-direction: row;
	align-content: center;
	border-bottom-style:solid;
	border-width: 10px;
	border-color: red;
}

#wickes ul{
	font-size: 25px;
	font-family: 'Righteous', cursive;
	list-style-type: none;
}

#job-title{
	text-align: center;
	margin-right: 30px;
	font-size: 20px;
}

#job-title h3{
	margin-top: 10px;
}

#tnt{
	display: flex;
	flex-direction: row;
	align-content: center;
	border-bottom-style:solid;
	border-width: 10px;
	border-color: red;
}

#tnt ul{
	font-size: 25px;
	font-family: 'Righteous', cursive;
	list-style-type: none;
}

h3{
	font-size:30px;

}

#education{
	grid-area: education;
	display: flex;
	flex-direction: column;
	align-content: center;
	border-bottom-style:solid;
	border-width: 10px;
	border-color: red;
}

#extra{
	grid-area:extra;
}


footer{
	grid-area: ft;
}
